{% extends "layout/base.html" %}
{% load paper_helper %}
{% block content %}
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Browse Index
                </h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-12 portfolio-item">
                {% if segment == 'category' %}
                <ol class="breadcrumb">
                  <li class="active">Category</li>
                </ol>
                {% endif %}

                {% if segment == 'paper' %}
                <ol class="breadcrumb">
                  <li><a href="/browse">Category</a></li>
                  <li class="active">{{ request.GET|get_category_from_querystring|title }}</li>
                </ol>
                {% endif %}
                

               <table class="table table-striped table-bordered table-hover">
                <tbody>
                    {% if segment == 'category' %}
                    {% for row in rows %}
                    <tr>
                        <td><a href="/browse/?category={{ row.slug }}">{{  row.name }} ({{ row.id|get_paper_by_category }})</a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                    {% if segment == 'paper' %}
                    {% for row in rows %}
                    <tr>
                        <td><a href="/paper/{{ row.slug }}-{{ row.id }}">{{  row.title }}</a>, authored by: {% for author in row.author.all %} {{ author }}, {% endfor %}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                </tbody>
               </table>
            </div>
        </div>

{% endblock %}