{% extends "layout/base.html" %}
{% load paper_helper %}
{% block content %}
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{ paper.title|title }}
                    <br/>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <!-- <img class="img-responsive" src="http://placehold.it/750x500" alt=""> -->
                 <iframe  width='680px' height='530px' style="display:block; margin-left: auto;margin-right: auto;" 
                            src="/static/vendors/pdfjs/web/viewer.html?file=http://localhost:8000/static/papers/{{ paper.resource.path | get_filename }}" allowfullscreen webkitallowfullscreen>
                 </iframe> 
            </div>

            <div class="col-md-4">
                <h3>Paper Details</h3>
                <ul>
                    <li><b>Category</b>: {{ paper.category.name  }}</li>
                    <li><b>Publisher</b>: {{ paper.publisher.name }}</li>
                    <li><b>Author</b>: {% for author in paper.author.all %} {{ author }}, {% endfor %}</li>
                    <li><b>Keyword</b>: {{ paper.tags }}</li>
                    <li><b>Created At</b>: {{ paper.created_at }}</li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>Abstract</h2>
                <hr/>
                <p>{{ paper.abstract }}</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <!-- <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div> -->
        <!-- /.row -->
{% endblock %}