{% extends "layout/base.html" %}
{% load paper_helper %}
{% block content %}
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Selulose
                    <small>explore the latest paper here</small>
                </h1>
                
                <ul class="pager">
                    {% if papers.has_previous %}
                    <li class="previous">
                        <a href="?page={{ papers.previous_page_number }}">previous</a>
                    </li>
                    {% endif %}

                    <li class="current">
                        Page {{ papers.number }} of {{ papers.paginator.num_pages }}.
                    </li>

                    {% if papers.has_next %}
                    <li class="next">
                        <a href="?page={{ papers.next_page_number }}">next</a>
                    </li>
                    {% endif %}
                </ul>

                {% for paper in papers %}
                <!-- First Blog Post -->
                <h2>
                    <a href="/paper/{{ paper.slug }}-{{ paper.id }}">{{ paper.title|title }}</a>
                </h2>
                <p class="lead">
                    by 
                    {% for author in paper.author.all %}
                        <a href="/author/{{ author.slug }}-{{ author.id }}">
                        {{ author.name }}, 
                        </a>
                    {% endfor %}    
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ paper.created_at }}</p>
                <!-- <hr> -->
                <!-- <img class="img-responsive" src="http://placehold.it/900x300" alt=""> -->
                <hr>
                <p>{{ paper.abstract }}</p>
                <a class="btn btn-primary" href="/paper/{{ paper.slug }}-{{ paper.id }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <hr>

                {% endfor %}
                
                <ul class="pager">
                    {% if papers.has_previous %}
                    <li class="previous">
                        <a href="?page={{ papers.previous_page_number }}">previous</a>
                    </li>
                    {% endif %}

                    <li class="current">
                        Page {{ papers.number }} of {{ papers.paginator.num_pages }}.
                    </li>

                    {% if papers.has_next %}
                    <li class="next">
                        <a href="?page={{ papers.next_page_number }}">next</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Start to Search Here</h4>
                    <div class="input-group">
                        <form class="form-inline" method="POST" action="/search/">
                            {% csrf_token %}
                            <input type="text" name="q" class="form-control" style="width:300px;" value="" placeholder="What do you want to search?" />
                            <br/>
                            <br/>
                            <input type="submit" class="btn btn-primary" value="Search" />
                        </form>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Paper Categories</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                {% for category in categories %}
                                <li>
                                    <a href="/category/{{ category.slug }}-{{ category.id }}">{{ category.name }} ({{ category.id|get_paper_by_category }})</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <!-- <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div> -->

            </div>

        </div>
        <!-- /.row -->
{% endblock %}