{% extends "layout/base.html" %}

{% block inline_css %}
<style>
    em {
        background: yellow;
        color: gray;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well">
                    <form class="form-inline" method="POST" action="/search/">
                        {% csrf_token %}
                        <input type="text" name="q" class="form-control" style="width:60%;" value="" placeholder="What do you want to search?" />
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Search Result
                    <small>we found {{ result|length }} paper match with your interest</small>
                </h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            {% for row in result %}
            <div class="col-md-12 portfolio-item">
                <!-- <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a> -->
                <h3>
                    <a href="/paper/{{ row.fields.slug.0 }}-{{ row.fields.id.0}}">{{ row.fields.title.0|title }}</a>
                </h3>
                <p style="font-size:10px;font-weight:italic;line-height:10px;">Published by {{ row.fields.publisher.0 }} in {{ row.fields.category.0 }}</p>
                <p style="font-size:12px;font-weight:bold;line-height:8px;">
                    Authored by: 
                    {% for author in row.fields.author %}
                    {{ author }},
                    {% endfor %}
                </p>
                <hr/>
                <p>
                    {% for stabilo in row.highlight.content %}
                    {{ stabilo|safe }}
                    {% endfor %}
                </p>
            </div>
            {% endfor %}
        </div>

        <!-- /.row -->

        <!-- <hr> -->

        <!-- Pagination -->
        <!-- <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div> -->
        <!-- /.row -->
{% endblock %}