<!DOCTYPE html>
<html lang="en">

<head>
    {% include "layout/head.html" %}

    {% block inline_css %}
    {% endblock %}
</head>

<body>

    <!-- Navigation -->
    {% include "layout/nav.html" %}
    <!-- Page Content -->
    <div class="container">

        {% block content %}
        {% endblock %}

        {% include "layout/footer.html" %}

    </div>
    <!-- /.container -->

    {% include "layout/js.html" %}

    {% block inline_js %}
    {% endblock %}
</body>

</html>
