 		<hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Selulose &copy; RidwanBejoDev 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>